html {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  background-image: url("images/gifMatrix.gif");
  background-repeat: no-repeat;
  background-size: cover;
  color: greenyellow;
}

main {
  padding: 25px;
  box-shadow: 8px 0px 35px 0px rgb(75, 248, 6);
  border-radius: var(--border-redonda);
  background-color: rgba(0, 0, 0, 0.9);
}